.top-bar {
  background-color: #339AF0;
  height: 50px;
  vertical-align: middle;
}

i {
  vertical-align: middle;
}

.NH48-logo {
  font-size: 45px;
  vertical-align: middle;
}

.top-bar-section ul li {
  background-color: #f08933;
  height: 50px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #f08933;
  height: 50px;
}

.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  display: inline-block;
  position: absolute; /* Position the background text */
  bottom: 29%; /* At the bottom. Use top:0 to append it to the top */
  left: 25%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  text-align: center;
  width: 50%; /* Full width */
  padding: 0px; /* Some padding */
  border-radius: 25px;
}

.container .content h1 {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.container .content p {
  color: white;
  font-size: 45px;
  font-style: italic;
}

.container .content h2 {
  color: white;
}

.container .content button {
  background-color: #339AF0;
  color: white;
}

.container .content button:hover {
  background-color: black;
}

.container .content button a {
  color: white;
}

.display-linebreak {
  white-space: pre-line;
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: medium;
  width: 90%;
  margin: 10px;
  left: 50%;
  background: #339AF0;
  color: white;
  text-align: left;

  h3 {
    color: white;
    text-align: center;
    margin: 10px;
  }

  p {
    margin: 10px;
  }
}

.img {
  width: 100%;
}

.tileImage {
  width: 100%;
}

.card {
  display: block;
}

// .mountainWrapper {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.mountainWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mountainTile {
  max-width: 450px;
  border: solid;
  background: #339AF0;
}

.mountainTile:hover {
  border-color: #F08933;
  background: black;

  .mountainInfo {
    background: black;
  }

}

.mountainInfo {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #339AF0;
  color: white;
}

.infoText {
  margin-left: 10px;
  h3 {
    color: white;
  }
  h4 {
    color: white;
  }
}

.outer-div {
  padding: 10px;
  text-align: center;
}

.text {
  display: inline-block;
  text-align: center;
  border: solid;
  border-width: medium;
  width: 50%;
  margin: 0 auto;
  left: 50%;
  background: #F08933;

  h3 {
    font-weight: bold;
    font-size: 40px;
    color: white;
  }

  p {
    color: white;
    font-size: 23px;
  }

}
